@inherits LayoutComponentBase
<div class="page d-block">
    <div class="bg-light">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
