@inherits LayoutComponentBase
<div class="page d-block">
    <div class="bg-light">
        <NavMenu />
    </div>

    <main class="content px-4 d-flex align-items-center col-12 flex-column">
        @Body
    </main>
</div>
