<div class="top-row ps-3 navbar h-auto bg-transparent py-0">
    <div class="d-flex align-items-center">
        <a class="navbar-brand" href="/">
            <img src="/icons/taskly-icon.PNG" alt="Logo of Taskly" width="50" height="50" />
        </a>
        <nav class="flex-column">
            <div class="nav-item p-0">
                <NavLink class="nav-link bg-transparent fw-bold" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </div>
        </nav>
    </div>
    <div>
        @if(UserIsAuthenticated)
        {
            <p>Hello <strong>@(UserName)</strong></p>
        }
    </div>
</div>