@page "/dashboard"
@attribute [Authorize]

<h3>Dashboard</h3>

<p>Number of todos: @(TodoCount)</p>

@code {
    // TODO : Update style
}
<Modal @ref="newTodoModal">
    <HeaderTemplate>
        <div class="w-100 text-center">
            <h2>Add new todo</h2>
        </div>
    </HeaderTemplate>
    <BodyTemplate>
        <EditForm EditContext="EditContext" OnValidSubmit="OnSubmit">
            <DataAnnotationsValidator />
            <InputText @bind-Value="Todo.Name" class="form-control mb-2" placeholder="Todo's name" id="name" aria-label="Todo's name" />
            <InputTextArea @bind-Value="Todo.Content" class="form-control mb-2" placeholder="Short description" id="content" aria-label="Short description" />
            <button class="btn btn-outline-primary py-1 rounded-3" type="submit">Create</button>
        </EditForm>
    </BodyTemplate>
</Modal>
<section>
    <button type="button" class="btn btn-primary d-flex align-items-center" @onclick="OnShowModalClick">
        <Icon Name="IconName.Plus" Size="IconSize.x5" /> New todo
    </button>

</section>
