@page "/"
@using Blazored.Toast.Services
@using Taskly.Web.Shared

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome in your future todo list application!</p>

<div class="d-flex flex-wrap align-items-center">
    <p class="w-100">If you want to pursue and manage your todo list with us you should</p>
    <NavLink class="nav-link" href="login">
        Connect
    </NavLink>
    <span>or</span>
    <NavLink class="nav-link" href="register">
        Register
    </NavLink>
</div>