@page "/"
@using Blazored.Toast.Services
@using Taskly.Web.Shared

<PageTitle>Home</PageTitle>

<h1>Welcome on Taskly!</h1>

<p>Taskly will be your future todo list application!</p>
<p>Here you'll be able to manage your todo list effortlessy</p>

<div class="d-flex flex-wrap align-items-center justify-content-evenly col-2">
    <p class="w-100">If you want to pursue and manage your todo list with us you should</p>
    <NavLink class="nav-link" href="login">
        Connect
    </NavLink>
    <span>or</span>
    <NavLink class="nav-link" href="register">
        Register
    </NavLink>
</div>