<div class="top-row ps-3 navbar navbar-dark">
    <div class="d-flex">
        <a class="navbar-brand" href="">Taskly</a>
        <nav class="flex-column">
            <div class="nav-item p-0">
                <NavLink class="nav-link text-dark bg-transparent" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu text-dark" aria-hidden="true"></span> Home
                </NavLink>
            </div>
        </nav>
    </div>
</div>